$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$tertiary-color: #ffffff;
$footer-color: #000000;
$background-color: rgba(0, 0, 0, 0.6);


//les images
$about-background: $background-color
  url(../../assets&images/banner/about.png);

$banner-background: $background-color
  url(../../assets&images/banner/home-banner.png);


  $breakpoints: (
    mobile: 720px,
    tablette: 768px,
    desktop: 1024px,
    small: 350px,
    medium: 768px,
    large: 992px,
    xlarge: 1200px,
  );
  
  // $breakpoint-mobile: 720px;
  $breakpoint-mobile: 769px;

